<h1>FAQ</h1>

		<ul>
			<li>Is there a free version? <strong>Yes, there is!</strong></li>
			<li>What are your support hours? 24/7!</li>
			<li>How do I contact support? Send an email to <a href="mailto:support@site.com">Support</a>.</li>
		</ul>